Language: Cpp
BasedOnStyle: Google

Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never

AccessModifierOffset: -4

NamespaceIndentation: Inner

ColumnLimit: 100

BreakBeforeBraces: Attach

Cpp11BracedListStyle: true

AllowShortFunctionsOnASingleLine: Inline

AllowShortIfStatementsOnASingleLine: Never

AllowShortLambdasOnASingleLine: Inline

BinPackArguments: false
BinPackParameters: OnePerLine

AlignAfterOpenBracket: Align

PackConstructorInitializers: CurrentLine

BreakConstructorInitializers: BeforeColon

ConstructorInitializerIndentWidth: 4

SortIncludes:
  Enabled: true
  IgnoreCase: false

IncludeBlocks: Regroup

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements

SpacesInAngles: Never

EmptyLineBeforeAccessModifier: LogicalBlock

EmptyLineAfterAccessModifier: Never

SeparateDefinitionBlocks: Leave

MaxEmptyLinesToKeep: 1

InsertTrailingCommas: Wrapped
